In [26]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [27]:
budget_rating_info_df = pd.read_csv("../Data/budget_rating_info.csv")

In [28]:
# create a list of all genres in the genre column
# create unique list
all_genres = budget_rating_info_df['genres'].str.split(',').explode()
unique_genres = all_genres.unique()

In [29]:
unique_genres

array(['Horror', 'Action', 'Adventure', 'Fantasy', 'Sci-Fi', 'Thriller',
       'Western', 'Animation', 'Comedy', 'Family', 'Crime', 'Drama',
       'Romance', 'Mystery', 'History', 'Sport', 'Biography', 'War',
       'Musical', 'Documentary', 'Music', nan, 'News'], dtype=object)

In [30]:
# create a function that creates a new dataframe for each genre
# if genre in row, add row to that genre's dataframe
# having the same movie in multiple dataframes is okay

In [31]:
def create_genre_dataframe(df, genre):
    """
    Creates a dataframe containing only the rows where the specified genre is one of the genres.

    :param df: The original dataframe with movie data.
    :param genre: The genre to filter by.
    :return: A dataframe containing only rows with the specified genre.
    """
    # Filter rows where the genre column contains the specified genre
    genre_df = df[df['genres'].astype(str).str.contains(genre, na=False)]
    return genre_df

In [55]:
horror_df = create_genre_dataframe(budget_rating_info_df, 'Horror')

In [34]:
action_df = create_genre_dataframe(budget_rating_info_df, 'Action')

In [35]:
adventure_df = create_genre_dataframe(budget_rating_info_df, 'Adventure')

In [36]:
fantasy_df = create_genre_dataframe(budget_rating_info_df, 'Fantasy')

In [37]:
scifi_df = create_genre_dataframe(budget_rating_info_df, 'Sci-Fi')

In [38]:
thriller_df = create_genre_dataframe(budget_rating_info_df, 'Thriller')

In [39]:
western_df = create_genre_dataframe(budget_rating_info_df, 'Western')

In [40]:
animation_df = create_genre_dataframe(budget_rating_info_df, 'Animation')

In [41]:
comedy_df = create_genre_dataframe(budget_rating_info_df, 'Comedy')

In [42]:
family_df = create_genre_dataframe(budget_rating_info_df, 'Family')

In [43]:
crime_df = create_genre_dataframe(budget_rating_info_df, 'Crime')

In [44]:
drama_df = create_genre_dataframe(budget_rating_info_df, 'Drama')

In [45]:
romance_df = create_genre_dataframe(budget_rating_info_df, 'Romance')

In [46]:
mystery_df = create_genre_dataframe(budget_rating_info_df, 'Mystery')

In [47]:
history_df = create_genre_dataframe(budget_rating_info_df, 'History')

In [48]:
sports_df = create_genre_dataframe(budget_rating_info_df, 'Sport')

In [49]:
biography_df = create_genre_dataframe(budget_rating_info_df, 'Biography')

In [50]:
war_df = create_genre_dataframe(budget_rating_info_df, 'War')

In [51]:
musical_df = create_genre_dataframe(budget_rating_info_df, 'Musical')

In [52]:
documentary_df = create_genre_dataframe(budget_rating_info_df, 'Documentary')

In [53]:
music_df = create_genre_dataframe(budget_rating_info_df, 'Music')

In [54]:
news_df = create_genre_dataframe(budget_rating_info_df, 'News')

In [56]:
news_df

,id_x,movie,production_budget,domestic_gross,worldwide_gross,total_gross,net_revenue,original_language,popularity,release_date_y,vote_average,vote_count,start_year,runtime_minutes,genres,imdb_averagerating,imdb_numvotes,ROI%
1097,13,Fortress,12000000,6730578,46730578,53461156,41461156,en,4.738,2012-04-01,5.4,21,2012,70.0,"Documentary,Drama,News",7.0,31,345.509633

In [58]:
musical_df

,id_x,movie,production_budget,domestic_gross,worldwide_gross,total_gross,net_revenue,original_language,popularity,release_date_y,vote_average,vote_count,start_year,runtime_minutes,genres,imdb_averagerating,imdb_numvotes,ROI%
254,25,The Greatest Showman,84000000,174340174,386665550,561005724,477005724,en,22.009,2017-12-20,8.0,5197,2017,105.0,"Biography,Drama,Musical",7.6,199663,567.863957
304,29,Rock of Ages,70000000,38518613,61031932,99550545,29550545,en,11.369,2012-06-15,6.1,686,2012,123.0,"Comedy,Drama,Musical",5.9,69910,42.215064
395,24,Burlesque,55000000,39440655,90552675,129993330,74993330,en,8.676,2010-11-23,7.1,1195,2010,119.0,"Drama,Music,Musical",6.4,71021,136.351509
872,83,The Covenant,20000000,23364784,38164784,61529568,41529568,en,2.733,2017-02-07,4.4,14,2013,99.0,Musical,6.2,5,207.647840
1304,11,Standing Ovation,5600000,531806,531806,1063612,-4536388,en,1.224,2010-07-16,4.3,12,2010,105.0,Musical,3.3,658,-81.006929
1527,51,The Last Five Years,2000000,147299,205298,352597,-1647403,en,5.079,2015-02-13,5.9,230,2014,94.0,"Comedy,Drama,Musical",5.9,8735,-82.370150
1534,74,The Ghastly Love of Johnny X,2000000,2436,2436,4872,-1995128,en,2.971,2013-04-26,6.5,9,2012,106.0,"Comedy,Fantasy,Musical",5.7,386,-99.756400
1698,87,Alleluia! The Devil's Carnival,500000,0,0,0,-500000,en,3.058,2016-03-29,7.0,9,2016,97.0,"Horror,Musical",6.9,534,-100.000000